# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Archivo con las credenciales de la BD
config.yml

# Directorio contenedor de los archivos para el Swagger
# Debe ser generado a través del Dockerfile con el siguiente comando
# swag init
/docs
